.applicants-forms {
  width: 100%;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;

  & .applicant {
    width: 100%;
    margin: 0;
    border-bottom: 1px solid #eee;

    @media (min-width: 1024px) {
      width: 50%;
      padding: 15px;
      border-right: 1px solid #eee;
    }

    @media (min-width: 1440px) {
      width: 33%;
    }

    & .previous-address {
      margin: 0 0 20px;
      border-bottom: 1px solid #eee;
    }
  }
}
