body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.jumbotron {
  & form {
    text-align: left !important;
  }
}

.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

.link {
  border-radius: 4px;
  position: relative;
  display: inline-block;
  margin-left: 10px;
  padding: 10px 15px;
  background-color: transparent;
  text-decoration: none !important;
}

.link.active {
  color: #fff;
  background-color: #337ab7;
  text-decoration: none;
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.checkBox {
  margin-left: 25px;
}

.inline-forms {
  display: inline-block;
}

.alert-info-applicant {
  background-color: rgb(0, 188, 212);
  color: white;
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

@media screen and (min-width: 768px) {
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  .header {
    margin-bottom: 30px;
  }
  .jumbotron {
    border-bottom: 0;
  }
}

.form-input input {
  padding: 0 10% !important;
}
.form-input div {
  padding: 0 10% !important;
}
